@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,700&family=Roboto:ital,wght@0,700;1,300&display=swap');
.mapilla{
  display: grid;
 }
 #map {
  height: 450px; 
  width: 430px;
  margin: auto;
  border-radius: 02%;
  align-self: center;
  justify-self: center;
  }

  /* mapita responsivo */

@media screen and (max-width:1200px){
  #map{
      width: 80%;
  }
  
}

@media screen and (max-width:770px){
  #map{
      width: 90%;
  }
  
}
  

  html,



.fondo {
    background-image: url('../images/Fondo_estacionamiento.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

  .registro{
    align-self: center;
    justify-self: center;
  }

  .lista{
    height: 400px; 
    width: 1180px;
    margin: auto;
  }

  @media screen and (max-width:1200px){
    .lista{
        width: 80%;
    }
    
  }
  
  @media screen and (max-width:770px){
    .lista{
        width: 90%;
    }
  }

nav{
    
  background-color: rgb(80, 141, 105);
  font-weight: bold;
  font-size: large;  
 
}
h2 {
  text-align: center;
}


footer {
  /* Estilos para el footer */
  background-color: rgb(80, 141, 105);
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
 
  /* Otros estilos según tus necesidades */
}


#main-content {
  min-height: calc(100vh - 2 * (altura del footer + altura del padding del footer));
  /* Ajusta la altura del footer y el padding del footer según tus necesidades */
}

.containerindex{
  margin-bottom: 40px;
}

.containerCuadradito{
  background-color: rgba(255, 245, 238, 0.096);
}
