{% extends "./layouts/base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">

    <!-- Columna A -->
    <div class="col-md-6">





      <div class="container mt-5 custom-form" style="max-width: 500px;">
        <h2>Arrendar mi estacionamiento</h2>
        <form method="POST" action="{% url 'guardar_estacionamiento' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" name="direccion"
              placeholder="Ingrese la dirección..." required>
          </div>
          <div class="form-group">
            <label for="valorMinu" class="form-label">Valor por minuto</label>
            <input type="number" class="form-control" id="valorMinu" name="valorMinu" placeholder="Valor por minuto"
              required>
          </div>
          <button type="submit" class="btn btn-primary">Publicar estacionamiento</button>
        </form>
      </div>

    </div>

    <!-- Columna B -->
    <div class="col-md-6">
      <br>
      <div id="map" class="w-100 h-100"></div>
    </div>

  </div>

</div>
<br><br>

<!-- Nueva fila para estacionamientos disponibles -->

<div class="container containerCuadradito">
  <h3>Estacionamientos disponibles</h3>
  <div class="container" style="max-height: 400px; overflow-y: auto;">
    <ol class="list-group list-group-numbered">
      {% for estacionamiento in estacionamientos %}
      <li class="list-group-item d-flex justify-content-between align-items-start"
        style="background-color: rgba(0, 0, 0, 0.819); color: white; border: none;">
        <div class=" ms-2 me-auto">
          <div class="fw-bold">{{ estacionamiento.direccion }}</div>
          Dueño: {{ estacionamiento.user }}
          <br>
          <a href="{% url 'pago' estacionamiento.id %}" class="btn btn-primary"
            style="background-color: rgb(80, 141, 105); border: none;">Arrendar</a>
        </div>
        <span class=" badge bg-primary rounded-pill">{{ estacionamiento.estado }}</span>
      </li>
      {% empty %}
      <li class="list-group-item">No hay estacionamientos disponibles.</li>
      {% endfor %}
    </ol>
  </div>
</div>




</div>
</div>
{% endblock %}