{% extends "./layouts/base.html" %}

{% load static %}


{% block content %}


<div class="container-fluid">

  <div class="container text-center">
    <div class="row align-items-center">

      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body"> 
            <h5 class="card-title">Buscar estacionamiento</h5>
            <form method="POST" action="{% url 'guardar_arriendo' %}">
              {% csrf_token %}
  
              <div class="mb-3">
                  <label for="hora_inic" class="form-label">Hora de inicio</label>
                  <input type="datetime-local" class="form-control" id="hora_inic" name="hora_inic"
                      placeholder="Hora de inicio" required>
              </div>
  
              <div class="mb-3">
                  <label for="hora_fin" class="form-label">Hora de fin</label>
                  <input type="datetime-local" class="form-control" id="hora_fin" name="hora_fin"
                      placeholder="Hora de fin" required>
              </div>
  
              <div class="mb-3">
                  <label for="patente" class="form-label">Patente</label>
                  <input type="text" class="form-control" id="patente" name="patente" placeholder="Patente" required>
              </div>
  
              <div class="mb-3">
                  <label for="estatus" class="form-label">Estatus</label>
                  <select class="form-select" id="estatus" name="estatus" required>
                      <option value="pendiente">Pendiente</option>
                      <option value="cancelado">Cancelado</option>
                      <option value="culminado">Culminado</option>
                  </select>
              </div>
  
              <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div id="map"></div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body"> 
            <h5 class="card-title">Arrendar mi estacionamiento</h5>
            <form method="POST" action="">
              {% csrf_token %}
  
              <div class="mb-3">
                  <label for="hora_inic" class="form-label">Dirección</label>
                  <input type="text" class="form-control" 
                      placeholder="Ingrese la dirección" required>
              </div>
  
              <div class="mb-3">
                  <label for="hora_fin" class="form-label">Valor por minuto</label>
                  <input type="number" class="form-control" id="hora_fin" name="hora_fin"
                      placeholder="Valor por minuto" required>
              </div>
  
              <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}